.menu-info-title {
    padding: 1rem;
}

.info-menu {
    margin: 0 auto;
}

.select-menu-type {
    padding-bottom: 1rem;
    margin: 0.3rem;
    display: flex;
    justify-content: center;


}

.select-menu-btn:hover {
    background-color: purple;
}



.menu-page-container {
    min-height: 100vh;
    width: auto;
    color: rgb(187, 187, 187) !important;

}

.bg-image-menu {
    min-height: inherit;
    background-image: url(/src/assets/img/menuimg.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    background-position: 0px;

}

.menu-page-opacity-layer {
    min-height: inherit; 
    background: rgb(27,27,27);
    background: linear-gradient(200deg, rgba(27,27,27,1) 0%, rgba(173,173,173,0.46964723389355745) 67%, rgba(20,20,20,1) 95%, rgba(0,0,0,1) 100%);
}

