.delivery-page-container {
    min-height: 100vh;
    width: auto;
    color: rgb(187, 187, 187) !important;

}

.bg-image-delivery {
    min-height: inherit;
    background-image: url(/src/assets/img/deliveryimg.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    /* background-position: -250px 0px; */

}

.delivery-page-opacity-layer {
    min-height: inherit; 
    background: rgb(27,27,27);
    background: linear-gradient(200deg, rgba(27,27,27,1) 0%, rgba(173,173,173,0.46964723389355745) 67%, rgba(20,20,20,1) 95%, rgba(0,0,0,1) 100%);
}

.food-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.food-item {
    margin: 0.6rem;
    max-width: 45em;
}

@media (min-width: 550px) { 

    .bg-image-delivery {
        height: inherit;
        background-image: url(/src/assets/img/deliveryimg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0px;
    
    }


 }
