
h3 {
    color: rgb(236, 236, 236) !important;
}


form{
    opacity: 80%;
    width: 370px;
    padding: 1rem;
    display: flex;
    flex-direction: column;

 }

 form input {
   border: 1px solid hsl(353, 100%, 40%);
   background: hsl(323, 29%, 76%);
    margin: 0.2rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
 }

 #input-asunto {
    margin-bottom: 0.2rem;
 }
 
 #input-comment {
   border: 1px solid hsl(353, 100%, 40%);
   background: hsl(323, 29%, 76%);
   margin: 0.2rem;
   border-radius: 0.2rem;
 }

 /********** BOOSTRAP RESET STYLES ************/
 .btn-success {
   --bs-btn-bg: hsl(351, 53%, 42%) !important;
   --bs-btn-border-color: hsl(351, 53%, 42%) !important;
   --bs-btn-hover-bg: hsl(351, 50%, 59%) !important;
   --bs-btn-hover-border-color: hsl(351, 37%, 42%) !important;

 }