/* ************ Custom Properties ************ */


:root {
  max-width: 1280px;
  margin: auto;
  text-align: center;
  background-color: #222529;
}


/* ************ My Styles ************ */

/* ************ Bootstrap Styles ************ */


/* ************ Reset Styles ************ */



/* ************ Media Queres ************ */


