/* ************ Custom Properties ************ */


:root {
  max-width: 1280px;
  margin: auto;
  text-align: center;
  background-color: beige;
}


/* ************ My Styles ************ */

/* ************ Bootstrap Styles ************ */


/* ************ Reset Styles ************ */



/* ************ Media Queres ************ */


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { ... }
